@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200;300;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300&family=Titillium+Web:wght@200;300;600;700&display=swap");

* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

::selection {
  background-color: #9ec2e9;
  color: white;
}

nav {
  /* box-shadow: 0 4px 20px black; */
  position: sticky;
  top: 0;
  z-index: 3;
  background-color: white;
}

.main-nav {
  display: flex;
  justify-content: space-around;
  padding-top: 20px;
  padding-bottom: 30px;
}

.logo-div img {
  height: 50px;
}

.ul-div ul li {
  padding: 15px;
}

.ul-div ul li a {
  font-family: "Titillium web";
  font-size: 22px;
  color: black;
  text-decoration: none;
}

.ul-div ul li a:hover {
  color: rgb(0, 0, 124);
}

.ul-div li .dropdown {
  display: none;
  position: absolute;
  top: 60px;
  z-index: 4;
}

.ul-div li .dropdown li {
  list-style: none;
  /* margin-bottom: 1px; */
  border: 1px solid rgba(0, 0, 0, 0.1);
  /* width: 200px; */
  font-size: 14px;
  color: rgb(53, 62, 77);
  font-family: "Montserrat";
  transition: background 0.5s; 
}

.ul-div li:hover .dropdown {
  display: block;
}

.ul-div li .dropdown li:hover {
  background-color: darkblue;
  color: white;
}

#width-1 li{
  width: 100%;
}

.carousel {
  --current-slide: 0;
  /* we set position relative so absolute position works properly for the buttons */
  position: relative;
  overflow: hidden;
}

.carousel-button {
  /* vertically centering the buttons */
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;

  /* basic styling */
  padding: 0;
  margin: 0.5rem;
  border-radius: 50%;
  background-color: transparent;
  border: none;

  font-size: 1.5rem;
  cursor: pointer;

  transition: color 0.1s;
}

.carousel-button:hover {
  color: rgba(0, 0, 0, 0.5);
}

.carousel-button_next {
  /* The "next slide button" will be at the right */
  right: 0;
}

.slides {
  display: flex;
  transition: transform 0.5s;
  transform: translateX(calc(-100% * var(--current-slide)));
}

.slide {
  flex: 0 0 100%;
}

@media screen and (min-width: 768px) {
  .carousel-button {
    font-size: 2rem;
    margin: 1rem;
  }
}

.about-data {
  margin-top: 50px;
}

.about-data h1 {
  text-align: center;
  font-weight: 100;
  font-size: 48px;
}

.about-data p {
  /* width: 95%; */
  font-family: "Titillium web";
  font-size: 20px;
  text-align: center;
}

.sc-img {
  height: 353px;
  margin-top: 20px;
}

.h1-div {
  /* border: 3px solid black; */
  display: inline-block;
  margin-top: 20px;
  margin-left: 30%;
  padding-left: 200px;
  padding-right: 200px;
  border-radius: 2px;
  box-shadow: 0 4px 15px black;
}

.part-div {
  margin-top: 20px;
}

.h1-div h1 {
  font-size: 48px;
}

:root {
  --marquee-width: 80vw;
  --marquee-height: 20vh;
  /* --marquee-elements: 12; / / defined with JavaScript */
  --marquee-elements-displayed: 5;
  --marquee-element-width: calc(var(--marquee-width) / var(--marquee-elements-displayed));
  --marquee-animation-duration: calc(var(--marquee-elements) * 3s);
}

.marquee {
  width: var(--marquee-width);
  height: var(--marquee-height);
  background-color: #ffffff;
  color: #eee;
  overflow: hidden;
  position: relative;
  margin-top: 50px;
  margin-left: 180px;
}
.marquee:before, .marquee:after {
  position: absolute;
  top: 0;
  width: 10rem;
  height: 100%;
  content: "";
  z-index: 1;
}
.marquee:before {
  left: 0;
  /* background: linear-gradient(to right, #111 0%, transparent 100%); */
}
.marquee:after {
  right: 0;
  /* background: linear-gradient(to left, #111 0%, transparent 100%); */
}
.marquee-content {
  list-style: none;
  height: 100%;
  display: flex;
  animation: scrolling var(--marquee-animation-duration) linear infinite;
}
/* .marquee-content:hover {
  animation-play-state: paused;
} */
@keyframes scrolling {
  0% { transform: translateX(0); }
  100% { transform: translateX(calc(-1 * var(--marquee-element-width) * var(--marquee-elements))); }
}
.marquee-content li {
  display: flex;
  justify-content: center;
  align-items: center;
  /* text-align: center; */
  flex-shrink: 0;
  width: var(--marquee-element-width);
  max-height: 100%;
  font-size: calc(var(--marquee-height)3/4); 
  white-space: nowrap;
}

.marquee-content li img {
  width: 100%;
  /* height: 100%; */
  border: 2px solid #eee;
}

@media (max-width: 600px) {
  html { font-size: 12px; }
  :root {
    --marquee-width: 100vw;
    --marquee-height: 16vh;
    --marquee-elements-displayed: 3;
  }
  .marquee:before, .marquee:after { width: 5rem; }
}

.img-crsl {
  margin-right: 200px;
}

.img-crsl img {
  border-radius: 5px;
  box-shadow: 0 4px 20px #9ec2e9;
}

.num-inc {
    display: flex;
    justify-content: space-evenly;
    background-color: rgb(64, 64, 240);
}

.inc-span {
  color: white;
  font-size: 38px;
  list-style: none ;
}

.inner-1{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 14px;
  margin-left: 100px;
  
}

.footer-text {
  background-color: black;
  color: white;
  text-align: center;
  font-family: cursive;
  width: 100%;
  padding: 20px 0;
}
.footer-1{
  display: flex;
  flex-direction: row;
  padding: 5px;
}